h1{
font-size: 30px;
text-align: center;
color: #de7471;
text-decoration: underline;
}

h2{
font-size: 25px;
text-align: center;
color: #de7471;
text-decoration: underline;
}


h3{
font-size: 25px;
text-align: left;
color: #de7471;
text-decoration: underline;
}

h4{
text-align: center;
}
p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #fcf3cf ;
}
